.bg-tr {
    background: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    font-family: Century Gothic;
}
  .title {
font-weight:normal;
color: #fff;
font-size: 7rem;
font-family: 'VelvetHeart', VelvetHeart, serif; 
text-shadow:
-1px -1px 0 #6912b9,  
 1px -1px 0 #6912b9,
 -1px 1px 0 #6912b9,
  1px 1px 0 #6912b9;
  }
  .fit_width {
    width: 100% !important;
    height: auto !important;
  }
  .white-bg-1 {
    background: rgba(255, 255, 255, 0.1);
  }
  .footerIcon,.icon{
    color: white;
       font-size: 38px;
       text-shadow:
       -1px -1px 0 #ff00e2,  
        1px -1px 0 #ff00e2,
        -1px 1px 0 #ff00e2,
         1px 1px 0 #ff00e2;
  }
  .footerIcon:hover,.icon:hover{
    color: black;
  }
  @font-face {
    font-family: Segun;
    src: url(../fonts/Segun-Regular.ttf);
  }
  h1,h2,h3{
    font-family: Segun;
  }
  h1{
    line-height: 100px;
    font-size:100px;
  }
  h3{
    font-size:50px;
  }
  h3.gradient span {
    background: linear-gradient(0deg, rgba(255,0,255,0) 0%, rgba(255,0,255,0) 16%, rgba(255,0,255,1) 16%, rgba(255,0,255,1) 41%, rgba(255,0,255,0) 41%);
  } 
  
  h3.padding span {
    padding: 0 0.5em 0 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  .fas {
    font-size: 30px;
    text-shadow:
    -1px -1px 0 #ff00e2,  
     1px -1px 0 #ff00e2,
     -1px 1px 0 #ff00e2,
      1px 1px 0 #ff00e2;
  }
  a.contact{
    font-family: VelvetHeart;
    font-size:48px;
    color:white;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #ff00e2,  
     1px -1px 0 #ff00e2,
     -1px 1px 0 #ff00e2,
      1px 1px 0 #ff00e2;
  }
  a.contact:hover{
    color:black;
  }
  .magazine_logo{
    width: 393;
  }
  .magazine_:hover {
    background-color:#fff;
    opacity:0.5;
    border-radius:30px;
}
  @media (max-width: 576px) {
    .magazine_logo{
      width: 230;
      text-align: center!important;
    }
  }
  .pic_w50{
    width: 50%!important;
  }
  @media (max-width: 450px) {
    .pic_w50{
     width: 100%!important;
    }
  }

  .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);    
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 7rem;
  height: 7rem;
}

  .form{
    width:640
  }
  @media (max-width: 750px) {
    .form{
     width: 350
    }
  }