@import "menu-overlay.css";
@font-face {
  font-family: Century Gothic;
  src: url(../fonts/GOTHIC.TTF);
}
  html, body {
    background: rgb(227,255,201);
    background: linear-gradient(0deg, rgba(227,255,201,1) 0%, rgba(255,255,255,1) 100%);
             -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .homepage {
    min-height: 89vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/homepage.png)!important;
    background-size: cover;
    background-position: top center;
    color: white;
  }
  
  a.homepageLink {
    color: white;
  }

  .regenerationHeading {
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/menigilda/5.jpg)!important;
    background-size: cover;
    background-position: 0px -400px;
    color: white;
  }

  .margin {
    margin-left: 10px;
    margin-right: 10px;
}  
.moreMargin {
  margin-left: 10vw;
  margin-right: 10vw;
}

.regImg {
  margin-right: 89px;
}

.homepageHeading {
  font-weight: bold;
}

  .nav-link{
    font-family: Century Gothic;
    color: black;
    font-weight: bold;
       font-size: 15px;
         text-transform: uppercase;
    letter-spacing: 0.75px;
         margin-right: 10px;
         text-shadow:
         -1px -1px 0 #f1e5fb,  
          1px -1px 0 #f1e5fb,
          -1px 1px 0 #f1e5fb,
           1px 1px 0 #f1e5fb;
  }
  .nav-link:hover{color: white;}
  .navbar-brand {
    position: absolute;
    margin-left: 0.75rem;
    display: flex;
    align-items: center;
  }
  @font-face {
    font-family: Segun;
    src: url(../fonts/Segun-Regular.ttf);
  }
  .fixed-bottom {
    z-index: 1000;
  }
  footer{
    background-image: url(../images/revival/footer_hat.webp)!important;
    background-size: 70%!important;
    color: white;
    font-family: Century Gothic;
    position: sticky;
    top: 100%;
    font-size:26;
  }
  footer h2 {
    font-weight:900;
  }
  .footerIcon{
       font-size: 38px;
  }
  .footerIcon:hover{
    color: white;
    text-shadow:
    -0.5px -0.5px 0 black,  
    0.5px -0.5px 0  black,
    -0.5px 0.5px 0  black,
     0.5px 0.5px 0  black;
  }
  .zoomIn {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .zoomIn:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    
  }
  .projName {
    font-family: VelvetHeart;
    font-size: 80px;
    line-height: 0.6;
  }  @media (max-width: 576px) {.projName{
    font-size: 40px;
    line-height: 0.5;
  }}
  .projDate{
    font-family: VelvetHeart;
    font-size: 60px;
    line-height: 0.6;
  }  @media (max-width: 576px) {.projDate{
    font-size: 40px;
    line-height: 0.3;
  }}
  a.projectLink{
    text-decoration: none;
    text-shadow:
    -1px -1px 0 #ff00e2,  
     1px -1px 0 #ff00e2,
     -1px 1px 0 #ff00e2,
      1px 1px 0 #ff00e2;
      cursor: pointer;
  }
  a.projectLink:hover{color:black}
  p, li, .liNormal {
    font-family: Century Gothic;
    font-size: 20px;
  }
  .fit_width_25 {
    width: 25% !important;
    height: auto !important;
  }
  .modal-title {
    font-family: VelvetHeart;
    font-size: 80px;
    color: black;
    line-height: 0.4;
  }
  .zoomIn2 {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .zoomIn2:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .resp-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 100%;
    height: 100% !important;
}
.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-tr {
    font-size: 20px;
    font-family: Century Gothic !important;
}
  .title {
font-weight:normal;
color: #fff;
font-size: 7rem;
font-family: 'VelvetHeart', VelvetHeart, serif; 
text-shadow:
-1px -1px 0 #6912b9,  
 1px -1px 0 #6912b9,
 -1px 1px 0 #6912b9,
  1px 1px 0 #6912b9;
  }
  .fit_width {
    width: 100% !important;
    height: auto !important;
    border-radius: 1.25rem;
  }
  .white-bg-1 {
    background: rgba(116, 0, 220, 0.1);
  }
  h1,h2,h3{
    font-family: Segun;
  }
  h1{
    line-height: 100px;
    font-size:100px;
  }
  h3{
    font-size:50px;
  }
  h3.gradient span {
    background: linear-gradient(0deg, rgba(255,0,255,0) 0%, rgba(255,0,255,0) 16%, #f1e5fb 16%, #f1e5fb  41%, rgba(255,0,255,0) 41%);
  } 
  
  h3.padding span {
    padding: 0 0.5em 0 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  a.contact{
    font-family: Century Gothic;
    font-size:25px;
    color:black;
    text-decoration: none;
    text-shadow:
    -0.5px -0.5px 0 black,  
    0.5px -0.5px 0  black,
    -0.5px 0.5px 0  black,
     0.5px 0.5px 0  black;
  }
  a.contact:hover{
    color:white;
  }
  .magazine_logo{
    width: 393;
  }
  .magazine_:hover {
    background-color:#fff;
    opacity:0.5;
    border-radius:30px;
}
  @media (max-width: 576px) {
    .magazine_logo{
      width: 230;
      text-align: center!important;
    }
  }
  .pic_w50{
    width: 50%!important;
    border-radius: 1.25rem;
  }
  .pic_w75{
    width: 75%!important;
    border-radius: 1.25rem;
  }
  @media (max-width: 450px) {
    .pic_w50{
     width: 100%!important;
    }
    .pic_w75{
      width: 100%!important;
     }
  }

  .carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);    
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 7rem;
  height: 7rem;
}

  .form{
    width:640
  }
  @media (max-width: 750px) {
    .form{
     width: 350
    }
  }
  .card {
    background:local;
    border: none;
    display: inline-block;
}
.card .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.card:hover .img-top {
    display: inline;
}
.current {
  color: #7400DC !important;
  pointer-events: none;
}
.page-name {
  font-family: Century Gothic;
  color: black;
  font-weight: bold;
     font-size: 15px;
       text-transform: uppercase;
       padding-left: 52.5px;
  letter-spacing: 0.75px;
       text-shadow:
       -1px -1px 0 #f1e5fb,  
        1px -1px 0 #f1e5fb,
        -1px 1px 0 #f1e5fb,
         1px 1px 0 #f1e5fb;
}

.projectName{
  /* font-family: Century Gothic; */
  text-transform: uppercase;
}
@media (max-width:991.2px){
  .projectName{
    display: none;
  }
}
.behind{
  background: rgba(116, 0, 220, 0.1);
  transform: scale(0.95);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.projectPic {
  width: 100%;
  height: 100%;
  transition: .7s;
  object-fit: cover; 
}
.projectPic:hover {
  opacity: 0.6; 
}
.projectVid{
  width: 80%;
}
.homepageLogo{
  width: 30%;
  /* position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;  
  display:block; */
}
.pdf{
  width: 60%;
  height: 600px;
}
.blockquote-left{
  border-left: 3px solid black;
  padding-left: 30px; 
  margin-left: 80px;
}
.blockquote-right{
  border-left: 3px solid black;
  padding-left: 30px; 
  margin-right: 80px;
}
.coming-soon{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.youtube-video {
  aspect-ratio: 16 / 9;
  width: 80%;
}

.fit_width_50 {
  width: 50% !important;
  height: auto !important;
}

i {
  color: black;
  text-shadow:
  -1px -1px 0 #f1e5fb,  
   1px -1px 0 #f1e5fb,
   -1px 1px 0 #f1e5fb,
    1px 1px 0 #f1e5fb;
}
.margin-right{
  margin-right:60px
}
.shop-title{
  font-family: Century Gothic;
  margin-top: 8px;
}
a.shop-title{
  color: black;
  text-decoration: none;
}
a.shop-title:hover{
  text-decoration: underline;
}
description p, description li{
  text-align: left;
  font-size: 12px;
}
.accordion-button {
  text-transform: uppercase;
  font-weight: bold;
}
div.accordion-body {
  padding-bottom: 0;
}
.accordion-button:not(.collapsed) {
  color: #7400DC;
  background-color: #f1e5fb;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%237400DC'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

body { /* the main container */
  min-height: 100vh;
}

.scroller {
  position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #f1e5fb;
  transition: opacity .3s ;
  padding-top: 20px;
}
.scroller:hover {
  opacity: .5;
}
.scroller span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  border-left: 2px solid #f1e5fb;
  border-bottom: 2px solid #f1e5fb;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
.btn {
  border-radius: 1.25rem;
}
.btn-dark{
  background-color: black;
}

.btn-dark:hover{
  background-color: white;
  color: black;
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  list-style-type: none
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Pause animation when reduced-motion is set */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.marquee__content {
  animation: scroll 25s linear infinite;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

.featured-logo {
  width: 100px;
}

p.gradient span {
  background: linear-gradient(0deg, rgba(255,0,255,0) 0%, rgba(255,0,255,0) 16%, #f1e5fb 16%, #f1e5fb  41%, rgba(255,0,255,0) 41%);
} 

.lad8s {
  text-decoration:none;
  color:white;
  top: 45%!important;
  opacity: 0.1;
  font-size: 12;
}
.lad8s:hover{
  opacity: 1;
  color: black;
}

@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}

#price {
  font-family: Century Gothic;
}

.modal-content p, h2 ,h3 {
  font-family: Century Gothic;
}

.modal-content p, li {
  font-size: 14;
}
.modal-content h2 {
  font-size: 18;
}
.modal-content h3 {
  font-size: 26;
}

.alert-light{
  font-family: Century Gothic;
  font-size: 15;
  color: black;
  background-color: white;
}
/* For xxl */
@media (max-width: 1320px) {
  #cookieBanner {
    left:0;
    right:0;
  }
}
/* For xl */
@media (max-width: 1199px) {
  .margin-right{
    margin-left: 15px;
    margin-right: 15px;
  }

}
/* For lg  */
@media (max-width: 991.2px) {
  #cookieBanner {
    left:0;
    right:0;
  }
  .behind{
    height: 100%;
    width: 100%;
  }
  .projectPic:hover{
    opacity : 1;
  }
  .projectVid{
  width: 100%;
}
.pdf{
  width: 100%;
}
.blockquote-left{
  margin-left: 0px;
}
.blockquote-right{
  margin-right: 0;
}
.homepageLogo{
  width: 55%;
}
h3.gradient span {
  font-size: 42px;
}
footer{
  background-size: 100%!important;
}
.regenerationHeading {
  background-position: 0 -300px;
}
}
/* For md */
@media (max-width:767.98px) {
  footer{
    background-size: 150%!important;
  }
  .regenerationHeading {
    background-position: center;
}
}
/* For sm */
@media (max-width:575.98px) {
  footer{
    background-size: 200%!important;
  }
  .lead{
    font-size: 0.9rem;
  }
}